
# dependencies:
scipy
path.py
python-dateutil
joblib
Mako
Flask
pygame
h5py
matplotlib
opencv-python
pandas


# pip
atari-py
Box2D
tqdm
gtimer
plotly
Pillow
pyglet
PyPrind
PyOpenGL
Cython
cloudpickle
cached_property

gym==0.10.5
Theano==1.0.4
Lasagne==0.2.dev1
mujoco_py==1.50.1.68
numpy>=1.14.5
tensorflow>=1.12.0,<2.0.0
